* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: "Noto Sans CJK KR Regular";
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: #ffffff;
  text-shadow:
    0 0 4px #fff,
    0 0 2px #fff,
    0 0 2px rgb(0, 255, 242),
    0 0 3px rgb(0, 255, 242),
    0 0 3px rgb(0, 255, 242),
    0 0 4px rgb(0, 255, 242),
    0 0 5px rgb(0, 255, 242);
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

#waybar.empty #window {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

#workspaces {
  /* empty */
}

#window {
  margin: 2px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid #ffffff;
  border-radius: 2px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 4px #fff,
    0 0 4px #fff,
    0 0 4px #48f8fc,
    0 0 8px #48f8fc,
    inset 0 0 8px #48f8fc;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  background: inherit;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  text-shadow:
    0 0 4px #fff,
    0 0 5px #fff,
    0 0 2px rgb(209, 58, 255),
    0 0 3px rgb(209, 58, 255),
    0 0 4px rgb(209, 58, 255),
    0 0 5px rgb(209, 58, 255);
}

#workspaces button {
  padding: 0 4px;
  text-shadow:
    0 0 4px #fff,
    0 0 2px #fff,
    0 0 2px rgb(0, 255, 242),
    0 0 3px rgb(0, 255, 242),
    0 0 3px rgb(0, 255, 242),
    0 0 4px rgb(0, 255, 242),
    0 0 5px rgb(0, 255, 242);
}

/* #workspaces button:hover {} */

#workspaces button.visible {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-shadow: 0 0 4px #fff,
    0 0 2px #fff,
    0 0 2px rgb(255, 252, 47),
    0 0 3px rgb(255, 225, 58),
    0 0 4px rgb(255, 225, 58),
    0 0 5px rgb(255, 225, 58);
}

#workspaces button.focused {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-shadow: 0 0 4px #fff,
    0 0 2px #fff,
    0 0 2px rgb(209, 58, 255),
    0 0 3px rgb(209, 58, 255),
    0 0 4px rgb(209, 58, 255),
    0 0 5px rgb(209, 58, 255);
}

#workspaces button.urgent {
  color: #ffd5d4;
  font-size: 14px;
  font-weight: bold;
  text-shadow:
    0 0 2px #ff9493,
    0 0 2px #ff5c59,
    0 0 3px rgb(255, 79, 79),
    0 0 4px rgb(255, 79, 79),
    0 0 5px rgb(255, 79, 79),
    0 0 6px rgb(255, 79, 79),
    0 0 7px rgb(255, 79, 79);
}

#mode {
  background-color: #64727D;
  border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#backlight,
#network,
#pulseaudio,
#wireplumber {
  margin: 2px;
  padding-left: 4px;
  padding-right: 4px;
  color: #ffffff;
  font-weight: bold;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
  margin-right: 0;
}

#pulseaudio {
  font-size: 14px;
  /* font-weight: bold; */
}

#pulseaudio.muted {
  color: #ffd5d4;
  text-shadow:
    0 0 2px #ff9493,
    0 0 2px #ff5c59,
    0 0 3px rgb(255, 79, 79),
    0 0 4px rgb(255, 79, 79),
    0 0 5px rgb(255, 79, 79),
    0 0 6px rgb(255, 79, 79),
    0 0 7px rgb(255, 79, 79);
}

#clock {
  font-size: 14px;
  /* font-weight: bold; */
}

#battery icon {
  color: rgb(171, 0, 0);
  text-shadow:
    0 0 2px #ff9493,
    0 0 2px #ff5c59,
    0 0 3px rgb(255, 79, 79),
    0 0 4px rgb(255, 79, 79),
    0 0 5px rgb(255, 79, 79),
    0 0 6px rgb(255, 79, 79),
    0 0 7px rgb(255, 79, 79);
}

#battery.charging,
#battery.plugged {
  color: #d0ffd2;
  text-shadow: 0 0 2px #42ff91,
    0 0 2px #0FFF50,
    0 0 3px #0FFF50,
    0 0 4px #0FFF50,
    0 0 5px #0FFF50;
}


@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.warning:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#network.disconnected {
  color: #ffd5d4;
  text-shadow:
    0 0 2px #ff9493,
    0 0 2px #ff5c59,
    0 0 3px rgb(255, 79, 79),
    0 0 4px rgb(255, 79, 79),
    0 0 5px rgb(255, 79, 79),
    0 0 6px rgb(255, 79, 79),
    0 0 7px rgb(255, 79, 79);
}

#temperature.critical {
  background-color: #eb4d4b;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}